* {
    background-color:  #006B54;
    /* width: 100%; */
    /* height: 100%; */
    margin: 0;
    padding: 0;
}

.swal-modal {
    background-color: #ffffff;
}

.swal-icon--error {
    background-color: #ffffff;
}

.swal-title {
    background-color: #ffffff;
    text-align: center;
}

.swal-text {
    background-color: #ffffff;
    text-align: center;
}

.swal-footer {
    background-color: #ffffff;
}

.swal-button-container {
    background-color: #ffffff;
}

.app {
    justify-content: space-around;
    align-items: center;
    position: relative;
}


.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 80px;
    /* left: 30px;
    top: 23px; */

    background-color: #006B54;
    /* font-family: Rouge Script; */
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 68px;

    color: #FFFFFF;
}

.logo svg {
    display: none;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 320px;
    height: 568px;
    margin: auto;
    margin-top: 30px;
}

.login .tagline {
    /* position: absolute; */
    width: 258px;
    height: 69px;
    top: 102px;
  
    background-color: #006B54;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #FFFFFF;
}

.login .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* position: relative; */
    width: 225px;
    height: 283px;
    left: 0px;
    top: 177px;
  
  
    background: #FFFFFF;
    box-shadow: 5px 5px 4px rgba(161, 161, 161, 0.25);
}

.login .login-form input {
    width: 189px;
    height: 35px;
    left: 17px;
    top: 30px;
  
    background: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #006B54;
    box-shadow: 5px 5px 4px rgba(161, 161, 161, 0.25);
    font-size: 12pt;
}

.login .login-form button {
    width: 90px;
    height: 35px;
    left: 69px;
    top: 176px;
  
    background-color: #006B54;
    color: #FFFFFF;
    border-top-color: #006B54;
    border-left-color: #006B54;
    border-width: 1px;
    border-style: solid;
    box-shadow: 5px 5px 4px rgba(161, 161, 161, 0.25);
    font-size: 16pt;
  
}

.errorMessage {
    display: block;
    position: absolute;
    width: 258px;
    height: 30px;
    bottom: 50px;
    background-color: #006B54;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  
    color: #FFFFFF;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 320px;
    height: 568px;
    margin: auto;
    margin-top: 30px;

    background-color: #006B54;

}

.home .logo {
    margin: 0px;
}


.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 80px;
    margin-top: 30px;

    /* position: relative; */
    background-color: #006B54;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 68px;
    text-align: center;

    color: #FFFFFF;
}

/* .fa-bars {
    position: relative;
    color: white;
    background-color: #006B54;
    width: 25px;

    font-size: 30pt;
    display: none;
   
} */

.points-container {
    position: absolute;
    width: 254px;
    height: 200px;
    /* left: 368px; */
    top: 135px;
    /* margin: 30px; */
  
    background: #FFFFFF;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.points-container h2 {
    background-color: #fff;
    height: 20%;    
    text-align: center;
}

.points-container h1 {
    background-color: #fff;
    height: 15%;
    text-align: center;
}

.rewards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #006B54;
    position: relative;
    width: 320px;
    margin: auto;
    margin-top: 30px;
    height: 568px;
    
}

.rewards .logo {
    margin: 0px;
}
.rewards .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 80px;
    margin-top: 30px;
}
  
.rewards-container {
    position: absolute;
    width: 254px;
    height: 452px;
    left: 33px;
    top: 105px;
  
    background: #FFFFFF;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.reward-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    /* height: 168px; */
    left: 44px;
    top: 306px;
    margin-top: 30px;

    background: #FFFFFF;
}

.reward-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 15px; */
    /* width: 99px;
    height: 168px; */
    /* left: 44px;
    top: 306px; */

    background: #FFFFFF;
}

.reward-preview img {
    position: relative;
    width: 97px;
    height: 97px;
    /* left: 177px;
    top: 306px; */

    background: #FFFFFF;
    border: 1px solid #006B54;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.reward-preview h3 {
    position: relative;
    justify-content: center;
    width: 74px;
    height: 18px;
    /* left: 46px;
    top: 230px; */

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #000000;
    background: none;
}

.reward-preview p {
    position: relative;
    justify-content: center;
    width: 48px;
    height: 18px;
    /* left: 46px;
    top: 248px; */

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #D08800;
    background: none;
}

.reward-preview button {
    position: relative;
    width: 90px;
    height: 23px;
    /* left: 177px;
    top: 451px; */
    color: #FFFFFF;
}

.menubar {
    display: none;
}

.menubar .menu-icons {
    display: none;
}

.menubar svg {
    display: none;
}

.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #006B54;
    position: relative;
    width: 320px;
    margin: auto;
    margin-top: 30px;
    height: 568px;
    
}

.upload .logo {
    margin: 0px;
}

.upload-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    padding: 10px;
    width: 254px;
    height: 413px;
    /* left: 20.5px; */
    top: 105px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.dzu-dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 254px;
    min-height: 120px;
    overflow: scroll;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    transition: all .15s linear;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
}

.dzu-inputLabel {
    background-color: #ffffff;
    text-align: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: #ffffff;
    margin-top: 10px;
}

.button-container input {
    background-color: #ffffff;
}

.upload-container button {
    position: relative;
    align-self: center;
    width: 90px;
    height: 23px;
    /* left: 177px;
    top: 451px; */
    color: #FFFFFF;
}

.nav-header {
    display: none;
}

/* responsive design */

@media only screen and (max-width: 700px) {
    .login {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        margin: 30 0 0 0;
    }

    .home .logo {
        margin-top: 30px;
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 80px;
        /* margin: auto; */
        margin-top: 30px;

    }
   
    .home {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        margin: 0 0 0 0;
    }

    .logo svg {
        display: inline;
        position: relative;
        color: white;
        background-color: #006B54;
        width: 30px;
        height: 30px;
    }

    .menubar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 50px;
        /* left: 0px; */
        bottom: 0px;
        
        background: #000000;
    }
      
    .menubar svg  {
        display: inline;
        font-size: 36pt;
        color: #ffffff;
        background-color: #000000;
    }

    .home .points-container {
        position: absolute;
        width: 254px;
        height: 200px;
        left: 33px;
        top: 135px;
        margin: 30px;
      
        background: #FFFFFF;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    }

    .home .points-container h2 {
        background-color: #fff;
        height: 20%;    
        text-align: center;
    }

    .home .points-container h1 {
        background-color: #fff;
        height: 15%;
        text-align: center;
    }

    .rewards {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        margin: 0 0 0 0;
    }

    .rewards .logo {
        margin-top: 30px;
    }

    .rewards .navbar {
        justify-content: space-evenly;
        
    }

    .rewards-container {
        position: absolute;
        width: 254px;
        height: 452px;
        left: 33px;
        top: 105px;
        margin: 30px;
      
        background: #FFFFFF;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    }

    .upload {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        margin: 0 0 0 0;
    }

    .upload .logo {
        margin-top: 30px;
    }

    .upload-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: space-between;
        padding: 10px;
        width: 254px;
        height: 413px;
        left: 20.5px;
        top: 105px;
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
        background: #FFFFFF;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    }

    .dzu-dropzone {
        position: absolute;
        width: 254px;
        height: 200px;
        /* top: 135px; */
        margin: 0px;
      
        background: #FFFFFF;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    }

    .dzu-inputLabel {
        background-color: #ffffff;
    }

    .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        background-color: #ffffff;
        margin-top: 10px;
    }

    .button-container input {
        background-color: #ffffff;
    }

    .upload-container button {
        position: relative;
        align-self: center;
        width: 90px;
        height: 23px;
        /* left: 177px;
        top: 451px; */
        color: #FFFFFF;
    }

}